html,body{
	margin:0;
	padding:0;
	font-family: 'Work Sans', sans-serif;
	height:100%;
}


#wrapper {
	min-height:100%;
	position:relative;
	margin-left: auto;
	margin-right: auto; 
	
}

.right{float:right;}
.left{float:left;}

.row{
	margin:0;
}

.circle{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}



#content {
	padding-bottom:300px; /* Height of the footer element */
}

/*Automatically resizes images*/
img{
	max-width: 100%;
	height:auto;
}


hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px solid #eee;
}

a:visited,a:link{
	text-decoration: none;
	color:black;
}


/*********** Top Nav Bar Styling **********/

#header{
	padding-top: 5px;
}

#header ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#rightnav li{
	float: right;
	padding: 10px 20px 10px 20px;
}

#leftnav li{
	float: left;
	padding: 10px 20px 10px 20px;
}

#top-nav-line1{
	border-left:2px
	solid
	#DBDBDB;
}
.vertical-line{
	border-left:2px
	solid
	#DBDBDB;
}
/* Style the links inside the list items */
#header ul li a {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
}

/* Hide the list item(burger bar) that contains the link that should open and close the topnav on small screens */
#header ul li.icon {display: none;}
#footer ul li.icon {display: none;}
/******** Mobile adjustments *************/

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Login").
 Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
	#rightnav li:not(:first-child) {
		display: none;
	}
	#header ul li.icon {
	    float: right;
	    display: inline-block;
	    position: absolute;
	    right: 72px;
	    top:5px;
	}
	#top-nav-line1{
		border: 0;
	}
}

/* link to the rest of the css/js codehttp://www.w3schools.com/howto/howto_js_topnav.asp */

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
#rightnav.responsive {
	float: right;
	padding-right: 20px;
	margin-top: -5px;
}
  #rightnav.responsive li.icon {
	    position: absolute;
	    right: 72px;
	    top: 7px;
  }
  #rightnav.responsive li{
    float: none;
    display: inline;
  }
  #rightnav.responsive li a {
    display: block;
    text-align: right;
  }
}

/**
foot menu
*/
@media screen and (max-width:680px) {

	#footer ul li {
		display: none;
	}
	#footer ul li.icon {
	    float: none;
	    display: inline-block;
	}
}

/**
  footer menu responsive
*/
@media screen and (max-width:680px) {

  #links.responsive li.icon {
		position: relative;
		top: 4px;
		left: 10px;

  }
  #links.responsive li{
    float: none;
    display: inline;
  }
  #links.responsive li a {
    display: block;
    text-align: center;
  }
}



/************ Footer Styling ***************/

#footer {
	text-align: center;
	background-color:#F7F7F7;

	width:100%;
	height:300px;
	position:absolute;
	bottom:0;
	left:0;
}

#footer #links{
	padding-top:60px;
	padding-bottom: 70px;

}

#footer hr{
   width:70%;
   margin-top:0;
   margin-bottom:0;
}

#footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

#footer li{
	display:inline;
	padding:20px;
}


/* Style the links inside the list items */
#footer li a {
	font-size: 10px;
    color: black;
    text-align: center;
    text-decoration: none;
}

#footer li a:hover{
	text-decoration: none;
}

#disclaimer{
	width:70%;
	padding-top: -20;
	margin:0 auto;
}

#disclaimer .column {
    margin: 0;
    width: 50%;
}


#copyright-text{
	text-align: left;
	font-size:10px;
	padding-top: 40px;
}

#trio-logo{
	padding: 40px;
}







/*** TWITTERS GRID SYSTEM - still testing ***/

/*  SECTIONS  
.section
splits up the page horizontally. You'll need a few of these to break up the content, 
and you can use them in your main wrapper, or within other divs.
*/
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  
.col
divides the section into columns. Each column has a left margin of 1.6% 
(around 20 pixels on a normal monitor), except the first one. 
Using .col:first-child { margin-left: 0; } means you don't need to use class="last" anywhere. 
It works in all browsers since IE6.*/
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING
.group
solves floating problems, by forcing the section to self clear its children 
(aka the clearfix hack). This is good in Firefox 3.5+, Safari 4+, Chrome, Opera 9+ 
and IE 6+.
*/
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID SPANS */
.span_100{
	width:100%;
}

.span_80 {
	width: 80%;
}

.span_70 {
	width: 70%;
}

/*for the input boxes zz*/
.span_69 {
	width: 69%;
}

.span_60 {
	width: 60%;
}
.span_50 {
	width: 50%;
}
.span_40 {
	width: 40%;
}

.span_33{
	width: 33%;
}

.span_30 {
	width: 30%;
}
.span_20 {
	width: 20%;
}
.span_10 {
	width: 10%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS
@media queries
as soon as the screen size gets less than 480 pixels the columns stack 
and the margins disappear.
 */

@media only screen and (max-width: 480px) {
	.col { margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}



