#slider{
	background-color: #41E2B0;
	height:0px;
	margin-top: 0px;
}

.att-list{
	overflow:auto;
	height:100px;
	width:200px;
	padding:10px;

	border: 1px solid #EDEDED;
}

.att-list .title{
	color:#3399ff;
	font-size:20px;
	font-weight: 500;
	margin:0;

}

.att-list li{
	list-style: none;
	font-size: 14px;
	font-weight: 400;
	margin-left:-40px;
	color: black;
	text-transform: none;
}

.att-list ul{
	margin-top: 0;
}

.trip-details{
	padding-top: 20px;
	padding-left: 10%;
	font-size: 25px;
	font-weight: 500;
}

.trip-details .location{
	font-size: 15px;
	font-weight: 400;
}

.trip-details .host{
	font-size: 15px;
	font-weight:400;
}

.trip-details hr{

	height:1px;
	border:none;
	color: #9F9F9F;
	background-color:#9F9F9F;

}

#card-grid{
	min-width:200px;
    width: auto !important;  
    width:200px;             
	padding:10px 0px 10px 10%;
}

#card-grid .day-card{
	height:250px;
	width:270px;
	float:left;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow:auto;

	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 2px solid #F7F7F7;

}

#card-grid .day-card .day-label{
	height:60px;
	border-top-left: 6px;
	border-top-right: 6px;
	background-color: #EDEDED;
}

#card-grid .day-card .day-label .day-title{
	font-size: 15px;
	margin-left:60px;
	padding-top:10px;
}

#card-grid .day-card .day-label .day-title .num-act{
	font-size: 10px;
	padding-left: 2px;
}

#card-grid .day-card .day-label .date-circle{
	width:45px;
	height:45px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: black;
	background-color: white;
	text-align: center;
	vertical-align: middle;

	margin-left:5px;
	margin-top:-35px;
}

#card-grid .day-card .activity .activity-pic{
	width:45px;
	height:45px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: black;
	/*background-image: url('/assets/img/logo.png');*/
	background-color: #41E2B0;
	float:left;
	margin-left: -60px;

}

#card-grid .day-card .activity .activity-name{
	margin-top: 10px;
	margin-left: 70px;
	font-size: 15px;
}

#card-grid .day-card .activity .activity-name .activity-location{
	font-size: 10px;
}

#card-grid .day-card .activity hr{
	margin-top: 15px;
	margin-bottom: 0px;
}

#card-grid .day-card .activity{
	margin-top: 5px;
	margin-bottom: 0px;
	height:60px;
}

#card-grid .day-card .day-label .date-circle .daynum{
	font-size: 24px;
	margin-bottom: -2px;
}

#card-grid .day-card .day-label .date-circle .date{
	font-size: 8px;
}

#card-grid .day-card hr{
	margin-top: 0px;
}


