.registration{
	background-image: url("../img/backgrounds/1.jpg");
	background-size: cover;
	height:900px;
}

.coming-soon{
	padding-top:50px;
}


.what-is-tb{
	overflow:auto;
	margin: 100px 100px 200px 200px;
}

.what-is-tb h1{
	color:black;
}

.about-us{
	margin: 100px 100px 200px 200px;
}

.tb-aim{
	
	margin:50px;
}

.itin-description{
	margin:50px;
}

.footer{
	font-size: 0.7em;
}