html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*overflow-x: hidden; */
	
	/*overflow: visible; 
	overflow: no-display; 
	above two are suitable for affix, otherwise the affix won't work with other overflow attributs
	*/
}

ul{
	list-style: none;
}

.header-content{
	background-image: url("../img/backgrounds/1.jpg");
	background-size: cover;
}

/*Coming soon icons*/
.coming-soon{
	padding:50px;
}

.bg{
	background: rgba(0, 0, 0, 0.5);
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    line-height: 50px;
}

hr{
	padding:10px;
}



/*nav bar color*/
#navigation 
{
  background-color: #22E2B3;
  padding: 5px 20px 5px 5px;
  width: 100%;
}

/*content app descriptions*/


.motto{
	font-style: italic;
	text-align:right;
}

.screen{
	padding:70px;
}

/*team bios*/

.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.member{
	padding-top: 50px;
	padding-bottom: 50px;
}

.member-bio{
	text-align: left;
}

.team-bios{
	margin-top:50px;
	margin-bottom: 50px;
}


/*contact us form*/

.contact-form{
	width:500px;
	margin: 0px auto;
	text-align: left;
}


