html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
  
}

ul{
	list-style: none;
}

.header-content{
	background-image: url("../img/backgrounds/1.jpg");
	background-size: cover;
}

/*Coming soon icons*/
.coming-soon{
	padding:50px;
}

.bg{
	background: rgba(0, 0, 0, 0.5);
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    line-height: 50px;
}


/*nav bar color*/
#navigation 
{
  background-color: #22E2B3;
  padding: 5px 20px 5px 5px;
  width: 100%;
}

/*content app descriptions*/


/*team bios*/

.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}




