#trip-heading{
	padding:10px 80px 10px 80px;
	text-align:center;
	text-transform: uppercase;
	font-size: 20px;
}

#button-row, #card-column{
	font-weight: 300;

	padding:10px 20% 10px 20%;

	min-width:600px;
    width: auto !important; 
    width:600px;       
   
}


.date-box{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background-color: white;
	border: 1px solid #9F9F9F;
	height:40px;
	width: 30px;
	position:relative;
	top:60px;
	left:150px;

	text-align: right;
	padding-right: 10px;
}

.date-box .date{

	font-size: 23px;
	font-weight: 200;

}

.date-box .month{
	text-transform: uppercase;
	font-size: 10px;
	font-weight: lighter;
	margin-top: -8px;
}

.card-right .trip-textbox{
	padding: 20px 10px 10px 200px;
}

.card-right .trip-textbox hr{
    padding-left: 0px;
    margin: 0px;
}

.card-right .trip-textbox .days{
	float:right;
	padding-top:30px;
	font-size: 10px;
	font-weight: 500;
	color: #9F9F9F;
}

.card-right .trip-textbox .title{
	font-weight: 500;
	font-size: 18px;
}

.card-right .trip-textbox .full-dates{
	font-weight: 400;
	font-size: 18px;
	color: #9F9F9F;
}

.card-right .trip-textbox .numtravelers{
	padding-top:10px;
	font-weight: 300;
	color: #9F9F9F;
}

.card-right .trip-textbox .host{
	font-size:10px;
	font-weight:500;
	padding-bottom:10px;
}


.card-left{
	/*background-image: url("/assets/img/logo.png");*/
	background-color:#41E2B0;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	float:left;
	height:160px;
	width:170px;
}

.card-right{
	background-color:#F7F7F7;
	border-top-right-radius: 8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	height:160px;
	width:600px;
}

.card-right .location{
	padding-top:10px;
	font-size: 10px;
	color: #9F9F9F;
}

.card-right hr{
	height:1px;
	border:none;
	color: #9F9F9F;
	background-color:#9F9F9F;

}

