
	<div id="day-dropdown">
		<div class="day-num">1</div>
		<div class="date">
			20 August 2016
			<i class="fa fa-angle-double-down" aria-hidden="true"></i>
		</div>
	</div>
	

	<div class="trip-name">yeti</div>
	<div class="day-name">TEMP</div>

	<div id="schedule-block">
		<div id="schedule-container">

	

			<div class="transport-block">
				<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:16px;">
					8:00AM
				</div>

				<div class="transport col span_20"><i class="fa fa-train" aria-hidden="true"></i>
					<span class ="boxed">train to ormond</span>
				</div>
			</div>
			<div style="clear:both;"></div>
		
	<div class="activity section group">
			<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:55px;">
				8:30AM
			</div>

			<div class="circle pic col span_20"></div>
		
			<div class="text-block col span_60">
				<span style="font-weight:500;">Breakfast</span>
				<div class="location">
					<i class="fa fa-map-marker" aria-hidden="true"></i> <i>487 North Rd, Ormond VIC 3204, Australia</i>
				</div>
				<div class="description">
					on the phone and it was great seeing you and your team to a few of the most important part in the world to see the new York city to get to know if you are a couple days ago and I am going through my head and neck of my trainers are fighting with you and I have
				</div>
				<div class="ratings"></div>
			</div>
		</div>
	<div style="clear:both;"></div>


			<div class="transport-block">
				<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:16px;">
					9:35AM
				</div>

				<div class="transport col span_20"><i class="fa fa-bus" aria-hidden="true"></i>
					<span class ="boxed">taking 505</span>
				</div>
			</div>
			<div style="clear:both;"></div>
		
	<div class="activity section group">
			<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:55px;">
				9:52AM
			</div>

			<div class="circle pic col span_20"></div>
		
			<div class="text-block col span_60">
				<span style="font-weight:500;">City tourss</span>
				<div class="location">
					<i class="fa fa-map-marker" aria-hidden="true"></i> <i>Flinders St, Melbourne VIC 3000, Australia</i>
				</div>
				<div class="description">
					on Wed Mar to get the best way for you guys are going to have a great day to you soon as I have been a while back I 
				</div>
				<div class="ratings"></div>
			</div>
		</div>
	<div style="clear:both;"></div>

	<div class="activity section group">
			<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:55px;">
				:30PM
			</div>

			<div class="circle pic col span_20"></div>
		
			<div class="text-block col span_60">
				<span style="font-weight:500;">afternoon drinks</span>
				<div class="location">
					<i class="fa fa-map-marker" aria-hidden="true"></i> <i>483 North Rd, Ormond VIC 3204, Australia</i>
				</div>
				<div class="description">
					on the phone and it was great seeing the same time and effort to get the best way to go to loki's the same thing with 
				</div>
				<div class="ratings"></div>
			</div>
		</div>
	<div style="clear:both;"></div>

	<div class="activity section group">
			<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:55px;">
				4:50PM
			</div>

			<div class="circle pic col span_20"></div>
		
			<div class="text-block col span_60">
				<span style="font-weight:500;">RMIT Uni Tour</span>
				<div class="location">
					<i class="fa fa-map-marker" aria-hidden="true"></i> <i>80, 445 Swanston St, Melbourne VIC 3000, Australia</i>
				</div>
				<div class="description">
					I am a little bit of a new one of the best games and more than a few days to come 
				</div>
				<div class="ratings"></div>
			</div>
		</div>
	<div style="clear:both;"></div>


			<div class="transport-block">
				<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:16px;">
					5:21PM
				</div>

				<div class="transport col span_20"><i class="fa fa-bug" aria-hidden="true"></i>
					<span class ="boxed">walk to place</span>
				</div>
			</div>
			<div style="clear:both;"></div>
		
	<div class="activity section group">
			<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:55px;">
				7:30PM
			</div>

			<div class="circle pic col span_20"></div>
		
			<div class="text-block col span_60">
				<span style="font-weight:500;">Dinner</span>
				<div class="location">
					<i class="fa fa-map-marker" aria-hidden="true"></i> <i>349 Flinders Ln, Melbourne VIC 3000, Australia</i>
				</div>
				<div class="description">
					Lets get dinner here, great place
				</div>
				<div class="ratings"></div>
			</div>
		</div>
	<div style="clear:both;"></div>


			<div class="transport-block">
				<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:16px;">
					9:00PM
				</div>

				<div class="transport col span_20"><i class="fa fa-bug" aria-hidden="true"></i>
					<span class ="boxed">whatever</span>
				</div>
			</div>
			<div style="clear:both;"></div>
		
	<div class="activity section group">
			<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:55px;">
				9:33PM
			</div>

			<div class="circle pic col span_20"></div>
		
			<div class="text-block col span_60">
				<span style="font-weight:500;">babu burger</span>
				<div class="location">
					<i class="fa fa-map-marker" aria-hidden="true"></i> <i>636 North Rd, Ormond VIC 3204, Australia</i>
				</div>
				<div class="description">
					leta get dinner here
				</div>
				<div class="ratings"></div>
			</div>
		</div>
	<div style="clear:both;"></div>

		</div>
	</div>
	