
	<div id="dropdown">
		<div class="day-num">2</div>
		<div class="date">
			13 January 2017
		</div>
	</div>
	

	<div class="trip-name">Australia Trip</div>
	<div class="day-name">TEMP</div>

	<div id="schedule-block">
		<div id="schedule-container">

	
		<div class="activity section group">
				<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:55px;">
					8:00AM
				</div>

				<div class="circle pic col span_20"></div>
			
				<div class="text-block col span_60">
					<span style="font-weight:500;">Breakfast</span>
					<div class="location">
						<i class="fa fa-map-marker" aria-hidden="true"></i> <i>499 North Rd, Ormond VIC 3204, Australia</i>
					</div>
					<div class="description">
						on Wed Oct to get to see the place of business in the next few years and I will be
					</div>
					<div class="ratings right">
						1<i class="fa fa-thumbs-up" aria-hidden="true"></i>
						0<i class="fa fa-thumbs-down" aria-hidden="true"></i>
						<i class="fa fa-comment" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		<div style="clear:both;"></div>
	

				<div class="transport-block">
					<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:16px;">
						8:00AM
					</div>

					<div class="transport col span_20"><i class="fa fa-car" aria-hidden="true"></i>
						<span class ="boxed">lol</span>
					</div>
				</div>
				<div style="clear:both;"></div>
			

				<div class="transport-block">
					<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:16px;">
						8:30AM
					</div>

					<div class="transport col span_20"><i class="fa fa-bus" aria-hidden="true"></i>
						<span class ="boxed">hi</span>
					</div>
				</div>
				<div style="clear:both;"></div>
			

				<div class="transport-block">
					<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:16px;">
						9:00AM
					</div>

					<div class="transport col span_20"><i class="fa fa-car" aria-hidden="true"></i>
						<span class ="boxed">ill drive...</span>
					</div>
				</div>
				<div style="clear:both;"></div>
			
		<div class="activity section group">
				<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:55px;">
					9:30AM
				</div>

				<div class="circle pic col span_20"></div>
			
				<div class="text-block col span_60">
					<span style="font-weight:500;">Movies</span>
					<div class="location">
						<i class="fa fa-map-marker" aria-hidden="true"></i> <i>Chadstone Shopping Centre, 1341 Dandenong Road, Chadstone VIC 3148, Australia</i>
					</div>
					<div class="description">
						the ultimate goal of the most important part 
					</div>
					<div class="ratings right">
						0<i class="fa fa-thumbs-up" aria-hidden="true"></i>
						0<i class="fa fa-thumbs-down" aria-hidden="true"></i>
						<i class="fa fa-comment" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		<div style="clear:both;"></div>
	
		<div class="activity section group">
				<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:55px;">
					4:43PM
				</div>

				<div class="circle pic col span_20"></div>
			
				<div class="text-block col span_60">
					<span style="font-weight:500;">hshehgrr</span>
					<div class="location">
						<i class="fa fa-map-marker" aria-hidden="true"></i> <i>Ormond 2</i>
					</div>
					<div class="description">
						on Wed Oct I was wondering if you are a couple days ago and I am not a big deal to be a good time for me is a good time with my 
					</div>
					<div class="ratings right">
						0<i class="fa fa-thumbs-up" aria-hidden="true"></i>
						0<i class="fa fa-thumbs-down" aria-hidden="true"></i>
						<i class="fa fa-comment" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		<div style="clear:both;"></div>
	
			</div>
		</div>
		