
	<div id="dropdown">
		<div class="day-num">1</div>
		<div class="date">
			30 December 2016
			<i class="fa fa-angle-double-down" aria-hidden="true"></i>
		</div>
	</div>
	

	<div class="trip-name">hrhr</div>
	<div class="day-name">TEMP</div>

	<div id="schedule-block">
		<div id="schedule-container">

	
	<div class="activity section group">
			<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:55px;">
				02:04
			</div>

			<div class="circle pic col span_20"></div>
		
			<div class="text-block col span_60">
				<span style="font-weight:500;">cool place</span>
				<div class="location">
					<i class="fa fa-map-marker" aria-hidden="true"></i> <i>Druckereistraße 3-30, 4810 Gmunden, Austria</i>
				</div>
				<div class="description">
					just for fun
				</div>
				<div class="ratings right">
					1<i class="fa fa-thumbs-up" aria-hidden="true"></i>
					1<i class="fa fa-thumbs-down" aria-hidden="true"></i>
					<i class="fa fa-comment" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	<div style="clear:both;"></div>

	<div class="activity section group">
			<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:55px;">
				11:31
			</div>

			<div class="circle pic col span_20"></div>
		
			<div class="text-block col span_60">
				<span style="font-weight:500;">hha</span>
				<div class="location">
					<i class="fa fa-map-marker" aria-hidden="true"></i> <i>Haleiwa, HI 96712, USA</i>
				</div>
				<div class="description">
					fun
				</div>
				<div class="ratings right">
					1<i class="fa fa-thumbs-up" aria-hidden="true"></i>
					1<i class="fa fa-thumbs-down" aria-hidden="true"></i>
					<i class="fa fa-comment" aria-hidden="true"></i>
				</div>
			</div>
		</div>
	<div style="clear:both;"></div>

		</div>
	</div>
	