

<div class="trip-details">
	hrhr<br>
	<span style="color:#9F9F9F">30 December - 6 January</span>
	<div class="host">Hosted by Jone Chee</div>
	<hr align="left">
	<div class="location">
		<i class="fa fa-map-marker" aria-hidden="true"></i> Singapore
	</div>
</div>

<div id="card-grid">
<div class="day-card">
	<div class="day-label">
		<div class="day-title">
			<a href="{{ url_for('day', day_key='-KZLTYkOrvshS6U-Au1R', daynum=1, date="30 December 2016", trip_name='hrhr') }}">TEMP</a>
			<div class="num-act">2 activities planned</div>
		</div>
		<div class="date-circle">
			<div class="daynum">1</div>
			<div class="date">30 Dec</div>
		</div>
	</div>
	<hr>

	
	<div class="activity">
		<div class="activity-name">
			cool place
			<div class="activity-location">
				<i class="fa fa-map-marker" aria-hidden="true"></i> Druckereistraße 3-30, 4810 Gmunden, Austria
			</div>
		</div>
		<div class="activity-pic"></div>
	</div>
	<hr>
	



	
	<div class="activity">
		<div class="activity-name">
			hha
			<div class="activity-location">
				<i class="fa fa-map-marker" aria-hidden="true"></i> Haleiwa, HI 96712, USA
			</div>
		</div>
		<div class="activity-pic"></div>
	</div>
	<hr>
	



</div>
<div class="day-card">
	<div class="day-label">
		<div class="day-title">
			<a href="{{ url_for('day', day_key='-KZLTYkOrvshS6U-Au1S', daynum=2, date="31 December 2016", trip_name='hrhr') }}">TEMP</a>
			<div class="num-act">0 activities planned</div>
		</div>
		<div class="date-circle">
			<div class="daynum">2</div>
			<div class="date">31 Dec</div>
		</div>
	</div>
	<hr>

</div>