
<div class="day-card">
	<div class="day-label">
		<div class="day-title">
			IN PROGRESS
			<div class="num-act">999 activities planned</div>
		</div>
		<div class="date-circle">
			<div class="daynum">1</div>
			<div class="date">IN PROGESS</div>
		</div>
	</div>

	
	<div class="activity">
		<div class="activity-name">
			IN PROGRESS
			<div class="activity-location">
				<i class="fa fa-map-marker" aria-hidden="true"></i> IN PROGRESS
			</div>
		</div>
		<div class="activity-pic"></div>
	</div>
	<hr>
	



</div>
<div class="day-card">
	<div class="day-label">
		<div class="day-title">
			IN PROGRESS
			<div class="num-act">999 activities planned</div>
		</div>
		<div class="date-circle">
			<div class="daynum">2</div>
			<div class="date">IN PROGESS</div>
		</div>
	</div>

</div>