<div class="day-card">
	<div class="day-label">
		<div class="day-title">
			Great Ocean Road
			<div class="num-act">8 activities planned</div>
		</div>
		<div class="date-circle">
			<div class="daynum">1</div>
			<div class="date">19 AUG</div>
		</div>
	</div>

	<div class="activity">
		<div class="activity-name">
			Breakfast
			<div class="activity-location">
				<i class="fa fa-map-marker" aria-hidden="true"></i> Manchester Press
			</div>
		</div>
		<div class="activity-pic"></div>
		<hr>

		<div class="activity-name">
			Breakfast
			<div class="activity-location">
				<i class="fa fa-map-marker" aria-hidden="true"></i> Manchester Press
			</div>
		</div>
		<div class="activity-pic"></div>
		<hr>

		<div class="activity-name">
			Breakfast
			<div class="activity-location">
				<i class="fa fa-map-marker" aria-hidden="true"></i> Manchester Press
			</div>
		</div>
		<div class="activity-pic"></div>
		<hr>

		<div class="activity-name">
			Breakfast
			<div class="activity-location">
				<i class="fa fa-map-marker" aria-hidden="true"></i> Manchester Press
			</div>
		</div>
		<div class="activity-pic"></div>
		<hr>


	</div>
</div>



<div class="day-card">
	<div class="day-label">
		<div class="day-title">
			Great Ocean Road
			<div class="num-act">8 activities planned</div>
		</div>
		<div class="date-circle">
			<div class="daynum">2</div>
			<div class="date">20 AUG</div>
		</div>
	</div>

	<div class="activity">
		
		<div class="activity-name">
			Breakfast
			<div class="activity-location">
				<i class="fa fa-map-marker" aria-hidden="true"></i> Manchester Press
			</div>
		</div>
		<div class="activity-pic"></div>
		<hr>

		<div class="activity-name">
			Breakfast
			<div class="activity-location">
				<i class="fa fa-map-marker" aria-hidden="true"></i> Manchester Press
			</div>
		</div>
		<div class="activity-pic"></div>
		<hr>

	</div> 
</div>



