<div id='past-trip-label'>Upcoming Trips</div>

<div class="card-block">
	<div class="date-box">
		<div class="date">12</div>
		<div class="month">Jan</div>
	</div>

	<div class="card-left"></div>

	<div class="card-right">
		<div class="trip-textbox">
			<div class="days">5 DAYS</div>
			<div class="title"><a href="{{ url_for('fullview', trip_key="-KZJBU74tUZSQrprRnSF", trip_data='{"tripName": "Australia Trip", "location": "Australia", "User": {"Admin": {"wl72WJLpKHYPwQKkOkLzFWsiOEv1": "true"}, "Regular": {"DkmAKzuSvOOIEDsAdNsp2obG68m2": "true", "mkAn3cVdGuOlNgW0v7oX19gvdRh1": "true", "eLb5lAIq4DWVe3ryBRnd7msDaew1": "false", "KRkngi2ecIM7JKDbdfbNO7Dm3ti2": "true"}}, "Days": {"Day1": "-KZJBU76Zg6YhWJyK5pH", "Day5": "-KZJBU7CWY40GBdb6BFm", "Day2": "-KZJBU7BqvHm4qrWOcVF", "Day4": "-KZJBU7BqvHm4qrWOcVH", "Day3": "-KZJBU7BqvHm4qrWOcVG"}, "endDate": "17/1/2017", "numberOfDays": "5", "startDate": "12/1/2017", "Regular": {"eLb5lAIq4DWVe3ryBRnd7msDaew1": "false"}, "tripLocationId": "ChIJ38WHZwf9KysRUhNblaFnglM"}') }}">Australia Trip</a></div>
			<div class="full-dates">12-17 January</div>
			<div class="host">Hosted by Ariel Abramov</div>
			<hr/>
			<div class="numtravelers">5 travelers</div>

			<div class="location">
				<i class="fa fa-map-marker" aria-hidden="true"></i> Australia
			</div>
		</div>
	</div>

</div>

<div id='past-trip-label'>Past Trips</div>

<div class="card-block">
	<div class="date-box">
		<div class="date">30</div>
		<div class="month">Dec</div>
	</div>

	<div class="card-left"></div>

	<div class="card-right">
		<div class="trip-textbox">
			<div class="days">2 DAYS</div>
			<div class="title"><a href="{{ url_for('fullview', trip_key="-KZLTYkM81hSSfOQASYc", trip_data='{"tripName": "hrhr", "location": "Singapore", "User": {"Admin": {"eLb5lAIq4DWVe3ryBRnd7msDaew1": "true"}, "Regular": {"wl72WJLpKHYPwQKkOkLzFWsiOEv1": "true", "mkAn3cVdGuOlNgW0v7oX19gvdRh1": "true", "KRkngi2ecIM7JKDbdfbNO7Dm3ti2": "true"}}, "tripLocationId": "ChIJyY4rtGcX2jERIKTarqz3AAQ", "endDate": "6/1/2017", "numberOfDays": "2", "startDate": "30/12/2016", "Days": {"Day1": "-KZLTYkOrvshS6U-Au1R", "Day2": "-KZLTYkOrvshS6U-Au1S"}}') }}">hrhr</a></div>
			<div class="full-dates">30 December - 6 January</div>
			<div class="host">Hosted by Jone Chee</div>
			<hr/>
			<div class="numtravelers">4 travelers</div>

			<div class="location">
				<i class="fa fa-map-marker" aria-hidden="true"></i> Singapore
			</div>
		</div>
	</div>

</div>



<div class="card-block">
	<div class="date-box">
		<div class="date">15</div>
		<div class="month">Dec</div>
	</div>

	<div class="card-left"></div>

	<div class="card-right">
		<div class="trip-textbox">
			<div class="days">3 DAYS</div>
			<div class="title"><a href="{{ url_for('fullview', trip_key="-KY1wbY8qi-qMzhjApap", trip_data='{"tripName": "Trippin brah ", "location": "China", "User": {"Admin": {"7HYXTyUfgMhXVpF1ucU7zgjush52": "true"}, "Regular": {"mkAn3cVdGuOlNgW0v7oX19gvdRh1": "true"}}, "tripLocationId": "ChIJwULG5WSOUDERbzafNHyqHZU", "endDate": "18/12/2016", "numberOfDays": 3, "startDate": "15/12/2016", "Days": {"Day1": "-KY1wbYGWf5uDJAaSHIm", "Day2": "-KY1wbYGWf5uDJAaSHIn"}}') }}">Trippin brah </a></div>
			<div class="full-dates">15-18 December</div>
			<div class="host">Hosted by Quoc Lieu</div>
			<hr/>
			<div class="numtravelers">2 travelers</div>

			<div class="location">
				<i class="fa fa-map-marker" aria-hidden="true"></i> China
			</div>
		</div>
	</div>

</div>

