

<div class="card-block" type="submit">
	<div class="date-box">
		<div class="date">15</div>
		<div class="month">Dec</div>
	</div>

	<div class="card-left"></div>

	<div class="card-right">
		<div class="trip-textbox">
			<div class="days">3 DAYS</div>
			<div class="title">Trippin brah </div>
			<div class="full-dates">15-18 December</div>
			<div class="host">Hosted by Quoc Lieu</div>
			<hr/>
			<div class="numtravelers">2 travelers</div>

			<div class="location">
				<i class="fa fa-map-marker" aria-hidden="true"></i> China
			</div>
			<div style="display:none;">-KY1wbY8qi-qMzhjApap</div>
		</div>
	</div>

</div>

