
	<div class="card-block">
	<div class="date-box">
		<div class="date">19</div>
		<div class="month">Jan</div>
	</div>

	<div class="card-left"></div>

	<div class="card-right">
		<div class="trip-textbox">
			<div class="days">10 DAYS</div>
			<div class="title">Melbourne with da lads</div>
			<div class="full-dates">19-27 August</div>
			<div class="host">Hosted by Jason Rohmursanto</div>
			<hr/>
			<div class="numtravelers">5 travelers</div>

			<div class="location">
				<i class="fa fa-map-marker" aria-hidden="true"></i> Melbourne, Australia
			</div>
		</div>
	</div>

</div>



<div class="card-block">
	<div class="date-box">
		<div class="date">20</div>
		<div class="month">SEPT</div>
	</div>

	<div class="card-left"></div>

	<div class="card-right">
		<div class="trip-textbox">
			<div class="days">9 DAYS</div>
			<div class="title">Melbourne with da lads</div>
			<div class="full-dates">19-27 August</div>
			<div class="host">Hosted by Jason Rohmursanto</div>
			<hr/>
			<div class="numtravelers">5 travelers</div>

			<div class="location">
				<i class="fa fa-map-marker" aria-hidden="true"></i> Melbourne, Australia
			</div>
		</div>
	</div>
</div>

<div class="card-block">
	<div class="date-box"></div>
	<div class="card-left"></div>
	<div class="card-right"></div>
</div>

<div class="card-block">
	<div class="date-box"></div>
	<div class="card-left"></div>
	<div class="card-right"></div>
</div>

<div class="card-block">
	<div class="date-box"></div>
	<div class="card-left"></div>
	<div class="card-right"></div>
</div>

	