

<div class="card-block">
	<div class="date-box">
		<div class="date">19</div>
		<div class="month">Jan</div>
	</div>

	<div class="card-left"></div>

	<div class="card-right">
		<div class="trip-textbox">
			<div class="days">8 DAYS</div>
			<div class="title">Trip to USA</div>
			<div class="full-dates">19-27 August</div>
			<div class="host">Hosted by Jason</div>
			<hr/>
			<div class="numtravelers">2 travelers</div>

			<div class="location">
				<i class="fa fa-map-marker" aria-hidden="true"></i> United States
			</div>
		</div>
	</div>

</div>



<div class="card-block">
	<div class="date-box">
		<div class="date">19</div>
		<div class="month">Jan</div>
	</div>

	<div class="card-left"></div>

	<div class="card-right">
		<div class="trip-textbox">
			<div class="days">7 DAYS</div>
			<div class="title">New Trip</div>
			<div class="full-dates">19-27 August</div>
			<div class="host">Hosted by Jason</div>
			<hr/>
			<div class="numtravelers">2 travelers</div>

			<div class="location">
				<i class="fa fa-map-marker" aria-hidden="true"></i> Australia
			</div>
		</div>
	</div>

</div>

