{% extends "base.html" %}

{% block customCSS %}
{% endblock %}

{% block customJSS %}
{% endblock %}

{% block header %}
<h3>About us</h3>

<p>
Appolus is formed by a team of students and graduates who plan to make a difference in the app industry. We want to develop a positive change to not only to individual modern consumers, but also their friends and families as a whole.
</p>

<h3>Our Goals</h3>

<p>
Our goal is to seek innovative solutions to problems faced by the modern individuals. At (company name) we aim to:

-challenge ourselves - without the challenges we face, we cannot grow as individuals

-grow and improve as a team - we aim to take the next steps forward together

-adapt and change - mistakes are to be made. And from those mistakes, we will adapt to improve

We are hungry to learn and strive to eventually become the new front of the mobile app development industry
</p>

<h3>Values</h3>

<p>

While developing Travel Bug, we had three values in mind towards the end product:

-To learn - Travel Bug is our first project. Our original goal in this project has always been to learn key skills and about the app development industry. So you can use our product knowing that we have worked from a passionate mindset rather than a business one in delivering you our product.

-For everyone - We wanted to develop a product that any modern individual can have access to use. Travel Bug is designed to be user friendly and fast to learn. We strived to develop an enjoyable experience.

-To connect - Making an impact onto individuals is an impressive goal. However at (company name), we strive to aim higher. Travel Bug is aimed at not only individuals but groups of travellers. We want you to travel with your friends and family with a connected mindset where everyone can step into a completely new country or journey together.
</p>

<h3>Project Genesis</h3>

<p>
Travel Bug is our first project and is a platform designed for collaborative planning or trips or special occasiona. It seeks to eliminate problems in group communication. Group trip planning tend to result in long messy group chats or simply one individual planning everything for the trip. Travel Bug aims to rid of these issues and create a clear and simple way to plan as a group.
</p>

<h3>The future?</h3>

<p>
We plan to bring more features and functionalities to the Travel Bug project in future. Stay tuned!
</p>

<h3>Our team</h3>

<p>
	Srini is a software enthusiast and finds anything related to software and computer technology exciting. He holds a masters degree in Information Systems and a Bachelors in Electronics. Srini is passionate about Android and Web apps development. Starting with building apps in his spare time, he has now transitioned to doing it full time. Srini enjoys doing three things: code, sleep and coffee. Follow him on www.iamsrini.com
</p>

<p>
	Betty’s passion for exploring and continuous learning was sparked at a young age. Upon getting her Bachelor’s degree in Architecture from the University of Liverpool in 2015, Betty took a gap year where she discovered her passions. She is currently learning app development in Android when she isn’t studying for her Information System degree at the University of Melbourne. When not cursing at her computer, Betty can be found cooking pastry, practising Taichi and going to the gym.
</p>
<p>
	Quoc is currently a student at the University of Melbourne undertaking a Bachelors degree in Computers and Software Systems. Discovering his passions in programming after his first year of University, he has been continuously learning about technology related areas of the industry. He particularly enjoys the developing web apps and plans on making an impact in the start up community after he graduates. Outside of study, Quoc enjoys gaming and badminton.
</p>
<p>
	Communication Designer by day.
	Music/gaming/cooking lover by night.
	Motivated by caffeine.
	Driven by a desire to someday rule the earth.
	Strength +100, but fatally weak to food, bevvies and records.

	On the job, Jason obsesses over the visual identity Travel Bug, and works on the UI/User Experience design of the app. Whether on or off the job, you’ll likely find him in a cafe, sprawled in the corner with my laptop.
</p>
<p>
	Jone is the software developer for Travel Bug. He is currently pursuing his master of software engineering. He knows how to juggle. He enjoys learning and making stuff. Good bio Jone.
</p>
<p>
	Joshua has always wanted to travel the world. He relishes in the joy of exploring new cultures and tasting new cuisines. He also loves playing around with new gadgets and testing out technology that will bring excitement and convenience into his life. Bringing his two loves together, travel bug was born. Together with his team, he aims to change the way we plan holidays so that he can spend most of his holiday enjoying the present, instead of worrying about what comes next.
</p>
<p>
	Ariel Abramov was born in Netanya, Israel in 1992. At the age of 8 his dad got him a computer he was instantly hooked. He learned HTML at the age of 10. At the age of 12 he moved to Melbourne, Australia with his family and attended Bialik high school. His love for HTML pushed him to want to know more so he took private lessons at JavaScript. 
	He developed a love for martial arts at the age of 14 and started taking taekwondo classes but at the age of 15 his parents decided to move back to Israel. He signed up for Jeet Kune Do at 16 which led him to do Mixed Martial Arts less than two years later. At the age of 19 he moved to China for 3 months to live and train in a Shaolin temple. When he got back he worked as a diamond cutter for 2 years and then decided to move back to Melbourne to study Information Technology. On November 2016 he completed his Bachelors of Information Technology.
</p>


{% endblock %}

{% block content %}
{% endblock %}

