{% extends "base.html" %}

{% block customCSS %}
<link rel="stylesheet" href="assets/css/about.css" type="text/css">
{% endblock %}

{% block customJS %}
{% endblock %}

{% block content %}
	<div id="about-heading">

		<h2>about-</h2>
		<div class="about-block">
			<i>Travel Bug is developed by a team of wanderlust University students and graduates</i>
		</div>

		<h2>-the team</h2>
		<hr>
		<div class="about-block">
			<div class="bio-block">
				Joshua Rodrigues
				Founder - Manager
				Joshua has always wanted to travel the world. He relishes in the joy of exploring new cultures and tasting new cuisines. He also loves playing around with new gadgets and testing out technology that will bring excitement and convenience into his life. Bringing his two loves together, Travel Bug was born. Together with his team, he aims to change the way we plan holidays so that he can spend most of his holiday enjoying the present, instead of worrying about what comes next.
			</div>
			<div class="profile-pic">
			</div>

			<hr>
			
			<div class="bio-block">
				Joshua Rodrigues
				Founder - Manager
				Joshua has always wanted to travel the world. He relishes in the joy of exploring new cultures and tasting new cuisines. He also loves playing around with new gadgets and testing out technology that will bring excitement and convenience into his life. Bringing his two loves together, Travel Bug was born. Together with his team, he aims to change the way we plan holidays so that he can spend most of his holiday enjoying the present, instead of worrying about what comes next.
			</div>
			<div class="profile-pic">
			</div>

		</div>

	</div>

{% endblock %}
