{% extends "base.html" %}

{% block customCSS %}
<link rel="stylesheet" href="assets/css/about.css" type="text/css">
{% endblock %}

{% block customJS %}
{% endblock %}

{% block content %}
	<div id="about-wrapper">

		<div class="about-description section group">
			<div class="col span_20">
				<img class="circle" src="assets/img/ologo.png">

			</div>
			<div class="member col span_70">
				<div>
					<div class="name">
					Travel Bug
					</div>
				<hr>
				<div class="bio">
					+61 405 065 543<br>
					208 Swanston Street<br>
					Melbourne VIC 3000
				</div>
				</div>
			</div>
		</div>

		<hr>

		<div class="section group">
			<img class="circle col span_20" src="assets/img/members/josh.jpg">

			<div class="member col span_70">
				<div class="name">
					Joshua Rodrigues 
				</div>
				<div class="role">
					Founder - Manager
				</div>
				<hr>
				<div class="bio">
					Joshua has always wanted to travel the world. He relishes in the joy of exploring new cultures and tasting new cuisines. He also loves playing around with new gadgets and testing out technology that will bring excitement and convenience into his life. Bringing his two loves together, Travel Bug was born. Together with his team, he aims to change the way we plan holidays so that he can spend most of his holiday enjoying the present, instead of worrying about what comes next.
				</div>
			</div>
		</div>

		<hr>

		<div class="section group">
			<img class="circle col span_20" src="assets/img/members/quoc.jpg">

			<div class="member col span_70">
				<div class="name">
					Quoc Lieu
				</div>
				<div class="role">
					Co Founder - Web Developer
				</div>
				<hr>
				<div class="bio">
					Discovering his passions in programming after taking a computing subject as an elective in his first year of University, he has been continuously learning about technology and software both in studies and his own time. He has taken an interest in start ups  and plans on making an impact in the industry after he graduates from his Bachelors degree. On the team, Quoc is reponsible for helping shape the final ideas that goes into Travel Bug as well as developing the team's website.
				</div>
			</div>
		</div>

		<hr>

		<div class="section group">
			<img class="circle col span_20" src="assets/img/members/jone.jpg">

			<div class="member col span_70">
				<div class="name">
					Jone Chee
				</div>
				<div class="role">
					Co Founder - Android Developer
				</div>
				<hr>
				<div class="bio">
					Jone is the software developer for Travel Bug. He is currently pursuing his master of software engineering. He knows how to juggle. He enjoys learning and making stuff. 
				</div>
			</div>
		</div>

		<hr>

		<div class="section group">
			<img class="circle col span_20" src="assets/img/members/jason.jpg">

			<div class="member col span_70">
				<div class="name">
					Jason Rohmursanto
				</div>
				<div class="role">
					Co Founder - UX Designer
				</div>
				<hr>
				<div class="bio">
					<p>
					Communication Designer by day.<br>
					Music/gaming/cooking lover by night.<br>
					Motivated by caffeine.<br>
					Driven by a desire to someday rule the Earth.<br>
					Strength +100, but fatally weak to food, bevvies and records.<br>
					</p>

					<p>
					On the job, Jason obsesses over the visual identity Travel Bug, and works on the UI/User Experience design of the app. Whether on or off the job, you’ll likely find him in a cafe, sprawled in the corner with his laptop.
					</p>
				</div>
			</div>
		</div>

		<hr>
		<div class="section group">
			<img class="circle col span_20" src="assets/img/members/ariel.jpg">

			<div class="member col span_70">
				<div class="name">
					Ariel Abramov
				</div>
				<div class="role">
					Android Developer
				</div>
				<hr>
				<div class="bio">
					<p>
					Ariel Abramov was born in Netanya, Israel in 1992. At the age of 8 his dad got him a computer where he was instantly hooked. He learned HTML at the age of 10. At the age of 12 he moved to Melbourne, Australia with his family and attended Bialik High School. His love for HTML pushed him to want to know more so he took private lessons for JavaScript.
					</p>
					<p>
					He developed a love for martial arts at the age of 14 and started taking taekwondo classes, but at the age of 15 his parents decided to move back to Israel. He signed up for Jeet Kune Do at 16 which led him to do Mixed Martial Arts less than two years later. At the age of 19 he moved to China for 3 months to live and train in a Shaolin temple. When he got back he worked as a diamond cutter for 2 years and then decided to move back to Melbourne to study Information Technology. On November 2016 he completed his Bachelors of Information Technology.
					</p>
				</div>
			</div>
		</div>

		<hr>

		<div class="section group">
			<img class="circle col span_20" src="assets/img/members/anu.jpg">

			<div class="member col span_70">
				<div class="name">
					Anushka Mudholkar
				</div>
				<div class="role">
					Web Developer
				</div>
				<hr>
				<div class="bio">
					<p>
					In Year 11, Anushka discovered her passion for computing. Ever since she has been on a journey of exploring and embracing the wonderful world of software. She believes that the field has the potential to solve most of the world's problems. Anushka is determined to use technology's widespread reach to make a social impact some time in the future. She loves embarking on different projects to hone her skills and of course meet new people! Anushka is currently doing her Bachelor's Degree in Computer Science (tough guess wasn't it?). She shares a similar passion for music, dance, and travelling! 
					</p>
				</div>
			</div>
		</div>

		<hr>

		<div class="section group">
			<img class="circle col span_20" src="assets/img/members/betty.jpg">

			<div class="member col span_70">
				<div class="name">
					Betty Lee
				</div>
				<div class="role">
					Web Developer
				</div>
				<hr>
				<div class="bio">
					<p>
					Betty’s passion for exploring and continuous learning was sparked at a young age. Upon getting her Bachelor’s degree in Architecture from the University of Liverpool in 2015, Betty took a gap year where she discovered her passions. She is currently learning app development in Android when she isn’t studying for her Information System degree at the University of Melbourne. When not cursing at her computer, Betty can be found cooking pastry, practising Taichi and going to the gym.
					</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
