<section id="app" class = "app-description">

	<h1>Making collaborative planning <strong><span style="color:#22E2B3">easy</span></strong></h1>

	<div class="welcome">
		<div class="row">
			<div class="col-sm-6" style="text-align:left;">
				<p>
					Going on a trip with a group of your friends is always great fun and exciting.
					However the planning can involve messy groups chats, long back and forth conversions and avoidable miscommunications.
				</p>
				<p>
					Travel Bug strives to solve all of this. It is a platform for you to plan your travels collaboratively with your friends and family or even your solo trips in a <strong>simple, easy and effective manner.</strong>
				</p>
				<p>
					<i>Less stress. More adventures.</i>
				</p>
			</div>
			<div class="col-sm-6">
				<img src="assets/img/screenshots/welcome.png" style="height:400px;">
			</div>
		</div>
	</div>
		
	<div class="day-plan">		
		<div class="row">
			<div class="col-sm-6" style="text-align:left;">
				<p>
					A <strong>shareable</strong> itinerary
				</p>
				<p>
					All your plans collated into a simple and easy to access format. 
					Just punch in your holiday schedule and we sort out the rest. Share it with all your friends and you can all start your holidays on the same page. Can't decide on an activity? Our dedicated voting system allows you and your friends to decide on what activities or locations to visit next. Our group planning functionalities will visualise any clashes between you and your mates. 
				</p>
			</div>
			<div class="col-sm-6">
				<img src="assets/img/screenshots/day.png" style="height:400px;">
			</div>
		</div>
	</div>
	<div class="itin">		
		<div class="row">
			<div class="col-sm-6" style="text-align:left;">
				<p>
					A <strong>shareable</strong> itinerary
				</p>
				<p>
					Your itinerary set out in a clean and simple format for all your travel buddies to see. Locations are linked with google maps so you can get to where you need to.
				</p>
				<p>
					<i>On time. Stress free.</i>
				</p>
			</div>
			<div class="col-sm-6">
				<img src="assets/img/screenshots/itineraries.png" style="height:400px;">
			</div>
		</div>
	</div>
	<div class="calendar">		
		<div class="row">
			<div class="col-sm-6" style="text-align:left;">
				<p>
					A <strong>shareable</strong> itinerary
				</p>
				<p>
					Your itinerary set out in a clean and simple format for all your travel buddies to see. Locations are linked with google maps so you can get to where you need to.
				</p>
				<p>
					<i>On time. Stress free.</i>
				</p>
			</div>
			<div class="col-sm-6">
				<img src="assets/img/screenshots/cal.png" style="height:400px;">
			</div>
		</div>
	</div>
	
</section>