<!DOCTYPE html>

<!-- the base template html page. Other pages will be extending from this page to use its footer and navbar. Jinja2 is used to connect this with the other templates.  -->

<html lang="en">

<html>
    <head>
        
        <title>{{vars.title}}</title>

        <!-- CSS -->        
        <link rel="stylesheet" href="assets/css/base.css" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500" rel="stylesheet"> 
      
        {% block customCSS %}{% endblock %}

    </head>


    <body data-spy="scroll" data-target=".navbar" data-offset="50" >
        <div id="wrapper">
            <div id="header">
                <ul>

                    <div id="leftnav">
                        <li>
                            <a href="/"><img src="assets/img/logoblack.png" style="width:20px;">
                            </a>
                        </li>
                        <li><a href="#">My Trips</a></li>            
                    </div>

                    <div id="rightnav">
                        <li><a href="#">Login</a></li>
                        <li style="border-left:1px solid #DBDBDB;"><a href="#">Register</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/about">About</a></li>
                        <li class="icon">
                            <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
                        </li>
                    </div>

                </ul>

            </div>

            <div id="content" class="row">
                {% block content %}{% endblock %}
            </div>

            <div id="footer">

                <div id = "footer-links">
                    <ul>
                        <li>
                            <a href="/about">ABOUT</a>
                        </li>
                        <li>
                            <a href="#">TERM AND CONDITIONS</a>
                        </li>
                        <li>
                            <a href="#"><img src="assets/img/logoblack.png" style="width:20px;padding-bottom:13px;"></a>
                        </li>
                        <li>
                            <a href="#">PRIVACY POLICY</a>
                        </li>
                        <li>
                            <a href="/contact">CONTACT</a>
                        </li>
                        <li class="icon">
                            <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
                        </li>
                    </ul>
                </div>

                <hr/>

                <div id = "disclaimer">

                    <div class="column" id="copyright-text">
                        <p>© TravelBug 2016. All rights reserved. Use of this site constitutes acceptance of our User Agreement and Privacy Policy. The material on this site may not be reproduced, distributed, transmitted, cached or otherwised, except with prior written permission of Travel Bug.</p>
                    </div>

                    <div class="column" id = "trio-logo">
                        <ul>
                            <li><img src="assets/img/logoblack.png" style="width:20px"></li>
                            <li><img src="assets/img/logoblack.png" style="width:20px"></li>
                            <li><img src="assets/img/logoblack.png" style="width:20px"></li>
                        </ul>
                    </div>

                </div>
                

            </div>
        </div>

       
        <script src="assets/js/jquery-1.11.1.min.js">
        </script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>
        <script src="assets/js/jquery.backstretch.min.js">
        </script>
        <script src="assets/js/retina-1.1.0.min.js">
        </script>

        <!-- font awesome icons -->
        <script src="https://use.fontawesome.com/72140f873c.js"></script>


        {% block customJS %}{% endblock %}


    </body>
</html>
