<!DOCTYPE html>

<!-- the base template html page. Other pages will be extending from this page to use its footer and navbar. Jinja2 is used to connect this with the other templates.  -->

<html lang="en">

<html>
    <head>
        
        <title>{{vars.title}}</title>

        <!-- CSS -->        
        <link rel="stylesheet" href="assets/css/base.css" type="text/css">
        <link rel="stylesheet" href="assets/css/jquery.qtip.css" type="text/css">
        <link rel='shortcut icon' href='assets/img/favicon.ico' type='image/x-icon'/ >
 
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500" rel="stylesheet"> 

        <!-- for mobile use -->

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
        {% block customCSS %}{% endblock %}

    </head>


    <!-- <body data-spy="scroll" data-target=".navbar" data-offset="50" >
 -->
    <body>    
       <div id="wrapper">
            <div id="header">
                <ul>

                    <div id="leftnav">
                        <li>
                            <a href="/"><img src="assets/img/logoblack.png" style="width:20px;">
                            </a>
                        </li>
                        <li ><a href="/login">My Trips</a></li>            
                    </div>

                    <div id="rightnav">
                        <li><a href="/login">Login</a></li>
                        <li style="border-left:2px solid #DBDBDB;"><a href="/register">Register</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/about">About</a></li>
                        <li class="icon">
                            <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
                        </li>
                    </div>

                </ul>
            </div>

            <div id="content">
                {% block content %}{% endblock %}
                <div style="clear: both;"></div>
            </div>

            <div id="footer">
                <div id = "links">
                    <ul>
                        <li>
                            <a href="/about">ABOUT</a>
                        </li>
                        <li>
                            <a href="#">TERM AND CONDITIONS</a>
                        </li>
                        <li>
                            <a href="/" class="bug0"><img src="assets/img/logoblack.png" style="width:25px;"></a>
                        </li>
                        <li>
                            <a href="#">PRIVACY POLICY</a>
                        </li>
                        <li>
                            <a href="/contact">CONTACT</a>
                        </li>
                        <li class="icon">
                            <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
                        </li>
                    </ul>
                </div>

                <hr>

                <div id = "disclaimer">

                    <div class="left column" id="copyright-text">
                        <p>© TravelBug 2016. All rights reserved. Use of this site constitutes acceptance of our User Agreement and Privacy Policy. The material on this site may not be reproduced, distributed, transmitted, cached or otherwised, except with prior written permission of Travel Bug.</p>
                    </div>

                    <div style="right column" id = "trio-logo">
                        <ul>
                            <li><img class="bug1" src="assets/img/logoblack.png" style="width:20px"></li>
                            <li><img class="bug2" src="assets/img/logoblack.png" style="width:20px"></li>
                            <li><img class="bug3" src="assets/img/logoblack.png" style="width:20px"></li>
                        </ul>
                    </div>

                </div>
                

            </div>
        </div>

        <script src="assets/js/jquery-1.11.1.min.js">
        </script>
        <script src="assets/js/jquery.qtip.js">
        </script>

        <script>
        $('.bug0').qtip({ // Grab some elements to apply the tooltip to
            content: {
                text: "Airplane travel is nature’s way of making you look like your passport photo."
            }
        })
        $('.bug1').qtip({ // Grab some elements to apply the tooltip to
            content: {
                text: 'My wife told me: Sex is better on holiday.'
            }
        })
        $('.bug2').qtip({ // Grab some elements to apply the tooltip to
            content: {
                text: "That wasn't a very nice postcard to receive."
            }
        })
        $('.bug3').qtip({ // Grab some elements to apply the tooltip to
            content: {
                text: ':<'
            }
        })
        </script>

        <!-- font awesome icons -->
        <script src="https://use.fontawesome.com/72140f873c.js"></script>


        {% block customJS %}{% endblock %}


    </body>
</html>
