<section id="contact" class="contact">
	<h1>Want to get in touch with us?</h1>

	<p>
		We value and appreciate any feedback, questions or concerns you may have for us!
	</p>

	<p>
		Please fill following form and we will get back to you within 24 hours!
	</p>

	<form class="contact-form" action="mailto:travelbuggg42@gmail.com?subject=Travel Bug Enquiry" method="post" enctype="text/plain">
	Name:<br>
		<input type="text" name="name" class="form-control"><br>
		<!-- E-mail:<br>
		<input type="text" class="form-control" name="mail"><br> -->
		Enquiry:<br>
		<textarea name="textarea" class="form-control" style="height:150px;"></textarea>
		<br><br>
		<input type="submit" class="btn" style="background-color:#22E2B3;color:white;" value="Send">
	</form>

</section>