{% extends "base.html" %}

{% block customCSS %}
<link rel="stylesheet" href="assets/css/register.css" type="text/css">
<link rel="stylesheet" href="assets/css/create_trip.css" type="text/css">
{% endblock %}

{% block content %}

<div id="create-trip">
	<form>
		<!--input onfocus = "this.placeholder= ''" onblur = "this.placeholder = 'Where are you travelling to?'"></input-->

		<input name="location" placeholder="location">
		<input name="trip_name" placeholder="trip name">
		
	</form>
</div>
{% endblock %}