{% extends "base.html" %}

{% block customCSS %}
<link rel="stylesheet" href="assets/css/day.css" type="text/css">
{% endblock %}

{% block customJSS %}
{% endblock %}

{% block content %}
<div id="day-wrapper">
	

	<div id="day-dropdown">
		<div class="day-num">2</div>
		<div class="date">
			20 August 2016
			<i class="fa fa-calendar" aria-hidden="true"></i>
		</div>
	</div>
	

	<div class="trip-name">Melbourne with da lads</div>
	<div class="day-name">CBD Sightseeing</div>

	
	<div id="schedule-details">
		<hr>
		<div class="small-label" style="float:left;">last updated by:</div>
		<div class="schedule-values" style="float:left;">Jason</div>
		<div class="schedule-values" style="float:right;">9.00am-6.00pm</div>
		<div class="small-label" style="float:right;">5 activities from:</div>
	</div>
	<hr width="60%" align="left">

	<div id="schedule-block">
		<div id="schedule-container" class="">

			<div class="activity section group">
				<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:55px;">9:00AM</div>
				<div class="circle pic col span_20"></div>
				
				<div class="text-block col span_70">
					<span style="font-weight:500;">Breakfast</span>
					<div class="location">
						<i class="fa fa-map-marker" aria-hidden="true"></i> <i>Manchester Press</i>
					</div>
					<div class="description">
						coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee
						coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee 
					</div>
					<div class="last-updated">
						updated • 07/09/2016
					</div>
					<div class="ratings"></div>
				</div>
			</div>
			<div style="clear:both;"></div>

			<div class="transport-block">
				<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:16px;">9:00AM</div>
				<div class="transport col span_20"><i class="fa fa-train" aria-hidden="true" style="font-size:18px;"></i><span class ="boxed">Hustbridge</span></div>
			</div>


			<div class="activity section group">
				<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:55px;">9:00AM</div>
				<div class="circle pic col span_20"></div>
				
				<div class="text-block col span_70">
					<span style="font-weight:500;">Breakfast</span>
					<div class="location">
						<i class="fa fa-map-marker" aria-hidden="true"></i> <i>Manchester Press</i>
					</div>
					<div class="description">
						coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee
						coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee 
					</div>
					<div class="last-updated">
						updated • 07/09/2016
					</div>
					<div class="ratings"></div>
				</div>
			</div>
			<div style="clear:both;"></div>


			<div class="transport-block">
				<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:16px;">9:00AM</div>
				<div class="transport col span_20"><i class="fa fa-train" aria-hidden="true" style="font-size:18px;"></i><span class ="boxed">Hustbridge</span></div>
			</div>

			<div class="activity section group">
				<div class="col span_10" style="font-size:10px;font-weight:500;padding-top:55px;">9:00AM</div>
				<div class="circle pic col span_20"></div>
				
				<div class="text-block col span_70">
					<span style="font-weight:500;">Breakfast</span>
					<div class="location">
						<i class="fa fa-map-marker" aria-hidden="true"></i> <i>Manchester Press</i>
					</div>
					<div class="description">
						coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee
						coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee coffee 
					</div>
					<div class="last-updated">
						updated • 07/09/2016
					</div>
					<div class="ratings"></div>
				</div>
			</div>
			<div style="clear:both;"></div>



		</div>

	</div>

	<div id="recommendations-box">
		<button type="button" class="right create"><span style="padding-right:15px;">create</span>+</button>

		<div class="recommendations">
		</div>
	</div>
</div>
{% endblock %}