{% extends "base.html" %}

{% block customCSS %}
<link rel="stylesheet" href="assets/css/day.css" type="text/css">
{% endblock %}

{% block customJSS %}
{% endblock %}

{% block content %}
<div id="day-wrapper">
	<div id="recommendations-box">
		<div class="create-btn"></div>
		<div class="recommendations">
			<div class="activity"></div>
		</div>
	</div>
	
	<div id="day-dropdown">
		<div class="day-circle">2</div>
		<div class="date"></div>
	</div>


	

	<div class="trip-name">Melbourne with da lads</div>
	<div class="day-name">CBD Sightseeing</div>

	<div id="schedule-block">

	</div>
</div>
{% endblock %}