{% extends "base.html" %}

{% block customCSS %}
<link rel="stylesheet" href="assets/css/fullview.css" type="text/css">
{% endblock %}

{% block customJS %}
{% endblock %}

{% block content %}

<div id="slider">
	<div class="trip-details">
		Melbourne with da lads<br>
		19th-27th August
	</div>

	<div class="location">
		<i class="fa fa-map-marker" aria-hidden="true"></i> Melbourne, Australia
	</div>
</div>

<div id="card-grid">
	<div class="day-card">
		<div class="day-label">
		</div>
		<hr>
	</div>
</div>

{% endblock %}