{% extends "base.html" %}

{% block customCSS %}
<link rel="stylesheet" href="assets/css/fullview.css" type="text/css">
{% endblock %}

{% block customJS %}
{% endblock %}

{% block content %}

<div id="slider"></div>

<div class="trip-details">
	Melbourne with da lads<br>
	<span style="color:#9F9F9F">19th-27th August</span>
	<div class="host">Hosted by Jason Rohmursanto</div>
	<hr>
	<div class="location">
		<i class="fa fa-map-marker" aria-hidden="true"></i> Melbourne, Australia
	</div>
</div>


<div id="card-grid">
{% include "_fullview.html" %}
</div>

{% endblock %}