{% extends "base.html" %}

{% block customCSS %}
<link rel="stylesheet" href="assets/css/fullview.css" type="text/css">
{% endblock %}

{% block customJS %}
{% endblock %}

{% block content %}

<div id="slider"></div>

<div class="trip-details">
	Melbourne with da lads<br>
	<span style="color:#9F9F9F">19th-27th August</span>
	<div class="host">Hosted by Jason Rohmursanto</div>
	<hr>
	<div class="location">
		<i class="fa fa-map-marker" aria-hidden="true"></i> Melbourne, Australia
	</div>
</div>



<div id="card-grid">
	<div class="day-card">
		<div class="day-label">
			<div class="day-title">
				Great Ocean Road
				<div class="num-act">8 activities planned</div>
			</div>
			<div class="date-circle">
				<div class="daynum">1</div>
				<div class="date">19 AUG</div>
			</div>
		</div>

		<div class="activity">
			<div class="activity-name">
				Breakfast
				<div class="activity-location">
					<i class="fa fa-map-marker" aria-hidden="true"></i> Manchester Press
				</div>
			</div>
			<div class="activity-pic"></div>

			<hr>
			<div class="activity-name">
				Breakfast
				<div class="activity-location">
					<i class="fa fa-map-marker" aria-hidden="true"></i> Manchester Press
				</div>
			</div>
			<div class="activity-pic"></div>

			<hr>
			<div class="activity-name">
				Breakfast
				<div class="activity-location">
					<i class="fa fa-map-marker" aria-hidden="true"></i> Manchester Press
				</div>
			</div>
			<div class="activity-pic"></div>

			<hr>
			<div class="activity-name">
				Breakfast
				<div class="activity-location">
					<i class="fa fa-map-marker" aria-hidden="true"></i> Manchester Press
				</div>
			</div>
			<div class="activity-pic"></div>

			<hr>
			<div class="activity-name">
				Breakfast
				<div class="activity-location">
					<i class="fa fa-map-marker" aria-hidden="true"></i> Manchester Press
				</div>
			</div>
			<div class="activity-pic"></div>

			<hr>
			<div class="activity-name">
				Breakfast
				<div class="activity-location">
					<i class="fa fa-map-marker" aria-hidden="true"></i> Manchester Press
				</div>
			</div>
			<div class="activity-pic"></div>

			<hr>
			<div class="activity-name">
				Breakfast
				<div class="activity-location">
					<i class="fa fa-map-marker" aria-hidden="true"></i> Manchester Press
				</div>
			</div>
			<div class="activity-pic"></div>

		</div>
	</div>



	<div class="day-card">
		<div class="day-label">
			<div class="day-title">
				Great Ocean Road
				<div class="num-act">8 activities planned</div>
			</div>
			<div class="date-circle">
				<div class="daynum">2</div>
				<div class="date">20 AUG</div>
			</div>
		</div>

		<div class="activity">
			<div class="activity-name">
				Breakfast
				<div class="activity-location">
					<i class="fa fa-map-marker" aria-hidden="true"></i> Manchester Press
				</div>
			</div>
			<div class="activity-pic"></div>

		</div> 
	</div>



	<div class="day-card">
		<div class="day-label">
			<div class="date-circle">
				<div class="daynum">3</div>
				<div class="date">21 AUG</div>
			</div>
		</div>
	</div>

	<div class="day-card">
		<div class="day-label">
			<div class="date-circle">
				<div class="daynum">3</div>
				<div class="date">21 AUG</div>
			</div>
		</div>
	</div>

	<div class="day-card">
		<div class="day-label">
			<div class="date-circle">
				<div class="daynum">3</div>
				<div class="date">21 AUG</div>
			</div>
		</div>
	</div>

	<div class="day-card">
		<div class="day-label">
			<div class="date-circle">
				<div class="daynum">3</div>
				<div class="date">21 AUG</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}