<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Travel Bug Registration</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/form-elements.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/style-custom.css">

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="assets/img/logo.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>
	    <div class="registration">
			<!-- Top menu -->
			<nav class="navbar navbar-inverse navbar-no-bg" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="top-navbar-1">
						<ul class="nav navbar-nav navbar-right">
							<li>
								<span class="li-text">
									Follow us on:
								</span> 
								<span class="li-social">
									<a href="#"><i class="fa fa-facebook"></i></a> 
									<a href="#"><i class="fa fa-twitter"></i></a> 
									<a href="#"><i class="fa fa-envelope"></i></a> 
								</span>
							</li>
						</ul>
					</div>
				</div>
			</nav>

	        <!-- Top content -->
	        <div class="top-content">
	        	
	            <div class="inner-bg">
	                <div class="container">
	                    <div class="row">
	                        <div class="col-sm-8 col-sm-offset-2 text">
	                            <h1>Register for <strong><span style="color:#c8e8d9">Travel</span></strong>Bug</h1>
	                            <div class="description">
	                            	<p>
		                            	Planning your travel adventures. </br>
		                            	<strong>Together.</strong>
	                            	</p>
	                            </div>
	                        </div>
	                        <div class="row">
	                            <div class="col-sm-6">
	                    			<img src="assets/img/iphone.png">
	                    			<div class ="coming-soon">
			    						<img src="assets/img/coming-soon.png" style="height:50px;">
			    					</div>
	                    		</div>
		                        <div class="col-sm-5 form-box">
		                        	<div class="form-top">
		                        		<div class="form-top-left">
		                        			<h3>Register now</h3>
		                            		<p>And start planning!</p>
		                        		</div>
		                        		<div class="form-top-right">
	                        				<img src="assets/img/logo.png">
	                        			</div>
		                            </div>
		                            <div class="form-bottom">
					                    <form role="form" action="" method="post" class="registration-form">
					                    	<div class="form-group">
					                    		<label class="sr-only" for="form-first-name">First name</label>
					                        	<input type="text" name="form-first-name" placeholder="First name..." class="form-first-name form-control" id="form-first-name">
					                        </div>
					                        <div class="form-group">
					                        	<label class="sr-only" for="form-last-name">Last name</label>
					                        	<input type="text" name="form-last-name" placeholder="Last name..." class="form-last-name form-control" id="form-last-name">
					                        </div>
					                        <div class="form-group">
					                        	<label class="sr-only" for="form-email">Email</label>
					                        	<input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
					                        </div>
					                        <div class="form-group">
					                        	<label class="sr-only" for="form-password">Password</label>
					                        	<input type="password" name="form-password" placeholder="Password..." class="form-control" id="form-password">
					                        </div>
					                        <div class="form-group">
					                    		<label class="sr-only" for="form-confirm-password">Confirm Password</label>
					                        	<input type="password" name="form-confirm-password" placeholder="Confirm password..." class="form-control" id="form-first-name" id="form-password">
					                        </div>
					                        <button type="submit" class="btn">Sign me up!</button>
					                    </form>
				                    </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		            
		        </div>
		    </div>
		</div>

		<div class = "what-is-tb">

			<h1>Making collaborative planning <strong><span style="color:#c8e8d9">easy</span></strong></h1>

			<div class="tb-aim">
				<div class="row">
					<div class="col-sm-6" style="text-align:left;">
						<p>
							Going on a trip with a group of your friends is always great fun and exciting.
							However the planning can involve messy groups chats, long back and forth conversions and avoidable miscommunications.
						</p>
						<p>
							Travel Bug strives to solve all of this. It is a platform for you to plan your travels collaboratively with your friends and family or even your solo trips in a <strong>simple, easy and effective manner.</strong>
						</p>
						<p>
							<i>Less stress. More adventures.</i>
						</p>
					</div>
					<div class="col-sm-6">
						<img src="assets/img/cal.png" style="height:400px;">
					</div>
				</div>
			</div>
				
			<div class="itin-description">		
				<div class="row">
					<div class="col-sm-6" style="text-align:left;">
						<p>
							A <strong>shareable</strong> itinerary
						</p>
						<p>
							Your itinerary set out in a clean and simple format for all your travel buddies to see. Locations are linked with google maps so you can get to where you need to. 
						</p>
						<p>
							<i>On time. Stress free.</i>
						</p>
					</div>
					<div class="col-sm-6">
						<img src="assets/img/itinerary.png" style="height:400px;">
					</div>
				</div>
			</div>
		</div>

		<div class = "about-us">
			<h3>Travel Bug is developed by a team of <strong>wanderlust</strong> University students</h3>
			<p>Creating a more effective way to travel <strong>together.</strong></p>
		</div>

		<div class = "footer">
			<p>Copyright © 2016 TravelBug | Terms | Privacy | Contact</p>
		</div>



	    <!-- Javascript -->
		<script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js">
		</script>
		<script>
		    // Initialize Firebase
		    var config = {
		      apiKey: "AIzaSyBNT4gDmMljV3Oko-E5WLMnNvW9mBfQ5FE",
		      authDomain: "travel-bugg.firebaseapp.com",
		      databaseURL: "https://travel-bugg.firebaseio.com",
		      storageBucket: "travel-bugg.appspot.com",
		    };
		    firebase.initializeApp(config);
		</script>
		<script>
			var ref = new Firebase("https://travel-bugg.firebaseio.com/")
			var users = ref.child("User");
			var user = users.child("6hfFQTytmnUWUHVbEqdmQeQ2zwL2");

		</script>


        <script src="assets/js/jquery-1.11.1.min.js">
        </script>
        <script src="assets/bootstrap/js/bootstrap.min.js">
        </script>
        <script src="assets/js/jquery.backstretch.min.js">
        </script>
        <script src="assets/js/retina-1.1.0.min.js">
        </script>
        <script src="assets/js/scripts.js">
        </script>
    

    </body>

</html>