{% extends "base.html" %} 

{% block customCSS %}
	<link rel="stylesheet" href="assets/css/index.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500" rel="stylesheet"> 
{% endblock %}

{% block customJS %}
{% endblock %}

{% block content %}

	<div class="top-slider">
		<img src=""/>
		<img src=""/>
	</div>
	<div class="bottom-slider">
		<ul>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		<img class="android-sticker" src=""/>
	</div>

	

	
	<div style="text-align:center;">
			Welcome to your<br>
			new travel companion
			<br>
			<br>
			TESTING:<br>
			<a href="/about">about</a>
			<a href="/trips">trips</a>
			<a href="/fullview">fullview</a>
			<a href="/day">day</a>
			<a href="/register">register</a>
	</div>

{% endblock %}

