{% extends "base.html" %} 

{% block customCSS %}
	<link rel="stylesheet" href="assets/css/index.css" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500" rel="stylesheet"> 
{% endblock %}

{% block customJS %}
{% endblock %}

{% block content %}

	<div id="top-slider" class="row">

		<div id="welcome-img">
			<span id="welcome-text">
				Welcome to your<br>
				new travel companion
			</span>
			<img src="assets/img/welcome-img.png" style="-webkit-filter: drop-shadow(2px 0px 5px #222); filter: drop-shadow(2px 0px 2px #222);width:300px;vertical-align:middle;">
			
		</div>

	</div>

	<div id="first" class="block">
		<h2>Streamlined interface</h2>
	</div>

	<div id="second" class="block">
	</div>
{% endblock %}

