{% extends "base.html" %}

{% block customCSS %}

<link rel="stylesheet" href="assets/css/register.css" type="text/css">

{% endblock %}

{% block content %}
<div id="form-wrapper">

	<div class="title">
		Join Travel Bug
	</div>

	<div>
		<form action="trips">
			<span class="smallgray">Already have an account with us?</span>
		    <button type="submit" class="login" >LOGIN</button>
		</form> 

	</div>

	<div class="smallgray">OR</div>

	<button class="facebook">REGISTER WITH FACEBOOK</button>

	<div class="smallgray">OR</div>

	<form action="trips" method="post">
		<input class="span_69" type="email" name ="email" placeholder="email">
		<br>

		<input class="span_30" type="text" name = "firstName" placeholder="first name">
		<input class="span_30" type="text" name = "lastName" placeholder="last name">
		<br>
		<input class="span_69" type="password" name = "password" placeholder="password(min. 8 characters)">
		<br>
		<input class="span_69" type="password" name = "password2" placeholder="confirm password">

		<br>
		
		<input type="radio" name="conditions" required>
		<span style="font-size:8px;font-weight:500;"> I agree to Travel Bug's <a href="/#">terms and conditions</a> &amp <a href="/#">privacy policy.</a></span>
		
		<br>
		
		<input class="submit span_69" type="submit" name="submit" value="REGISTER">
	</form>



</div>


{% endblock %}