{% extends "base.html" %}

{% block customCSS %}

<link rel="stylesheet" href="assets/css/register.css" type="text/css">

{% endblock %}

{% block content %}

<div id = "form-wrapper">

	<div class="title">
		Join Travel Bug
	</div>

	<div>
		<form action="login">
			<span class="smallgray">Already have an account with us?</span>
		    <button type="submit" class="login" >LOGIN</button>
		</form> 

	</div>

	<div class="smallgray">OR</div>

	<form action="" method="post">
	    {{form.hidden_tag()}}

	    {% for error in form.email.errors %}
            <span style="color: red; font-size: 10px;">[{{ error }}]</span>
        {% endfor %}
		
		{{form.email(placeholder="email", class="span_69")}}

		<br>

		{% for error in form.firstname.errors %}
            <span style="color: red; font-size: 10px;">[{{ error }}]</span>
        {% endfor %}
		
		{{form.firstname(placeholder="firstname", class="span_30")}}
		{{form.lastname(placeholder="lastname", class="span_30")}}

		<br>

		{% for error in form.password.errors %}
            <span style="color: red; font-size: 10px;">[{{ error }}]</span>
        {% endfor %}

		{{form.password(placeholder="password", class="span_69")}}

		<br>

		{{form.confirm(placeholder="confirm password", class="span_69")}}

		<br>

		
		<input class="submit span_69" type="submit" name="submit" value="REGISTER">
	</form>
</div>

{% endblock %}