<section id ="team" class = "team-bios">
	<h3>Travel Bug is developed by a team of <strong>wanderlust</strong> University students and graduates</h3>
	<p><i>Creating a more effective way to travel <strong>together.</strong></i></p>
	<h1>The team behind Travel Bug</h1>

	<div class="row member">
		<div class="col-sm-4">
			<figure>
				<img class="image-cropper" src="assets/img/members/josh.jpg">
			</figure>
			<div class="member-info">
				<div class="member-name">
					Joshua Rodrigues 
				</div>
				<div class="member-role">
					Co Founder - Manager
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<p class="member-bio">
				Joshua has always wanted to travel the world. He relishes in the joy of exploring new cultures and tasting new cuisines. He also loves playing around with new gadgets and testing out technology that will bring excitement and convenience into his life. Bringing his two loves together, travel bug was born. Together with his team, he aims to change the way we plan holidays so that he can spend most of his holiday enjoying the present, instead of worrying about what comes next.
			</p>
		</div>
	</div>

	<div class="row member">
		<div class="col-sm-4">
			<figure>
				<img class="image-cropper" src="assets/img/members/quoc.jpg">
			</figure>
			<div class="member-info">
				<div class="member-name">
					Quoc Lieu
				</div>
				<div class="member-role">
					Co Founder - Web Developer
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<p class="member-bio">
				
			</p>
		</div>
	</div>
	
	<div class="row member">
		<div class="col-sm-4">
			<figure>
				<img class="image-cropper" src="assets/img/members/jone.jpg">
			</figure>
			<div class="member-info">
				<div class="member-name">
					Jone Chee 
				</div>
				<div class="member-role">
					Co Founder - Android Developer
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<p class="member-bio">
				
			</p>
		</div>
	</div>

	<div class="row member">
		<div class="col-sm-4">
			<figure>
				<img class="image-cropper" src="assets/img/members/jason.jpg">
			</figure>
			<div class="member-info">
				<div class="member-name">
					Jason Rohmursanto
				</div>
				<div class="member-role">
					Co Founder - UX Designer
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<p class="member-bio">
				
			</p>
		</div>
	</div>

	<div class="row member">
		<div class="col-sm-4">
			<figure>
				<img class="image-cropper" src="assets/img/members/srini.jpg">
			</figure>
			<div class="member-info">
				<div class="member-name">
					Srini Vasan
				</div>
				<div class="member-role">
					Android Developer
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<p class="member-bio">
				
			</p>
		</div>
	</div>

	<div class="row member">
		<div class="col-sm-4">
			<figure>
				<img class="image-cropper" src="assets/img/members/ariel.jpg">
			</figure>
			<div class="member-info">
				<div class="member-name">
					Ariel Abramov
				</div>
				<div class="member-role">
					Android Developer
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<p class="member-bio">
				
			</p>
		</div>
	</div>

	<div class="row member">
		<div class="col-sm-4">
			<figure>
				<img class="image-cropper" src="assets/img/members/betty.jpg">
			</figure>
			<div class="member-info">
				<div class="member-name">
					Betty Lee
				</div>
				<div class="member-role">
					Developer
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<p class="member-bio">
				
			</p>
		</div>
	</div>

	<p>Visit our company site to find more about Appolus</p>
</section>