{% extends "base.html" %}

{% block customCSS %}
<link rel="stylesheet" href="assets/css/trips.css" type="text/css">
{% endblock %}

{% block content%}

<div id="trip-heading">My Trips</div>

<div id="button-row">
	<div >
		<a href= "/create_trip" class="right">new trip+</a>
	</div>
</div>

<div id="card-column">
	{% if no_trips %}
	<div id="no-trips">
		Looks like you have no plans yet.<br>
		Ready to start planning? Click on add trip!
	</div>
	
	{% else %}	

	<div id='past-trip-label'>Upcoming Trips</div>

	{% for trip in curr_trips %}

	<div class="card-block">
		<div class="date-box">
			<div class="date">{{ trip['date'] }}</div>
			<div class="month">{{ trip['month'] }}</div>
		</div>

		<div class="card-left"></div>

		<div class="card-right">
			<div class="trip-textbox">
				<div class="days"> {{ trip['numdays'] }} DAYS</div>
				<div class="title"><a href="{{ url_for('fullview', trip_key={{ trip['key']}}, trip_data= {{curr_trips}} }}">%s</a></div>
				<div class="full-dates"> {{ trip['fulldates'] }} </div>
				<div class="host">Hosted by {{ trip['host'] }}</div>
				<hr/>
				<div class="numtravelers"> {{ trip['numtravelers'] }} travelers</div>

				<div class="location">
					<i class="fa fa-map-marker" aria-hidden="true"></i> {{ trip['location'] }}
				</div>
			</div>
		</div>
	{% endblock %}

	<div id='past-trip-label'>Past Trips</div>

	{% for trip in past_trips %}

	<div class="card-block">
		<div class="date-box">
			<div class="date">{{ trip['date'] }}</div>
			<div class="month">{{ trip['month'] }}</div>
		</div>

		<div class="card-left"></div>

		<div class="card-right">
			<div class="trip-textbox">
				<div class="days"> {{ trip['numdays'] }} DAYS</div>
				<div class="title"><a href="{{ url_for('fullview', trip_key={{ trip['key']}}, trip_data= {{past_trips}} }}">%s</a></div>
				<div class="full-dates"> {{ trip['fulldates'] }} </div>
				<div class="host">Hosted by {{ trip['host'] }}</div>
				<hr/>
				<div class="numtravelers"> {{ trip['numtravelers'] }} travelers</div>

				<div class="location">
					<i class="fa fa-map-marker" aria-hidden="true"></i> {{ trip['location'] }}
				</div>
			</div>
		</div>
	{% endblock %}
	
	{% endif %}

</div>
	

{% endblock %}
