{% extends "base.html" %}

{% block customCSS%}
<link rel="stylesheet" href="assets/css/verification.css" type="text/css">

{% endblock %}


{% block content %}

<div id="message"></div> 

{% endblock %}


{% block customJS %}

<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
<script> 
document.addEventListener('DOMContentLoaded', function() {

  // Get the action to complete.
  var mode = getParameterByName('mode');
  // Get the one-time code from the query parameter.
  var actionCode = getParameterByName('oobCode');

  // Configure the Firebase SDK.
  // This is the minimum configuration required for the API to be used.
  var config = {
    "apiKey": "AIzaSyBNT4gDmMljV3Oko-E5WLMnNvW9mBfQ5FE"
  };
  var app = firebase.initializeApp(config);
  var auth = app.auth();

  // Handle the user management action.
  switch (mode) {
    case 'resetPassword':
      // Display reset password handler and UI.
      handleResetPassword(auth, actionCode);
      break;
    case 'recoverEmail':
      // Display email recovery handler and UI.
      handleRecoverEmail(auth, actionCode);
      break;
    case 'verifyEmail':
      // Display email verification handler and UI.
      handleVerifyEmail(auth, actionCode);
      break;
    default:
      // Error: invalid mode.
  }
}, false);

function getParameterByName( name ){
  name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
  var regexS = "[\\?&]"+name+"=([^&#]*)";
  var regex = new RegExp( regexS );
  var results = regex.exec( window.location.href );
  if( results == null )
    return "";
  else
    return decodeURIComponent(results[1].replace(/\+/g, " "));
}

// TODO: handleResetPassword, handleRecoverEmail



function handleVerifyEmail(auth, actionCode) {
  // Try to apply the email verification code.
  auth.applyActionCode(actionCode).then(function(resp) {
    // Email address has been verified.
    document.getElementById("message").innerHTML= "Your email adress has been verified"
  }).catch(function(error) {
    // Code is invalid or expired. Ask the user to verify their email address
    // again.
    document.getElementById("message").innerHTML= "The code is invalid or expired.<br>Please try verifying your email address again"
  });
}

</script>
{% endblock %}